header,nav,section{
width:800px;
}

div.gallery{
margin: 5px;
border:1px solid #ccc;
float:left;
}

div.desc{
padding:15px;
text-align:center;
color:white;
}

a:link{
background-color:#006666;
color:white;
padding:7px 7px;
text-align:center;
display:inline-block;
}

a:hover{
background-color:gray;

}
section{
background-color: gray;
}
nav{
background-color: #006666;
}